{% if ISSO_COMMENTS %}
    <script data-isso="//discuss.fuzz.me.uk/"
            data-isso-avatar="false"
            src="//fuzz.me.uk/theme/js/embed.min.js"></script>

    <section id="isso-thread"></section>
{% endif %}
