{% set copy_date = (all_articles[0].date.strftime('%Y') if all_articles else articles[0].date.strftime('%Y')) %}
<footer>
    <hr>
    <div class="row">
        <div class="col-xs-4 text-left">
            <p><small>
                {{SITESUBTITLE}}
            </small></p>
        </div>
        <div class="col-xs-5 text-right">
            <p><small>
                Built by <a href="http://docs.getpelican.com/en/latest">Pelican</a> / <a href="https://github.com/ingwinlu/pelican-twitchy">pelican-twitchy</a>
                &middot;
                {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
                {% from 'include/cc-license.html' import cc_license_mark %}
                    {{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL}) }}
                {% else %}
                    &copy; {{ copy_date }} {{ AUTHOR }}
                {% endif %}
            </small></p>
        </div>
    </div>
</footer>
