<!-- Open Graph tags -->
<meta property="og:site_name" content="{{ SITENAME }}"/>
<meta property="twitter:site" content="@fuzzmz"/>
<meta property="twitter:creator" content="@fuzzmz"/>
{% if article %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title|striptags|escape }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{article.url}}"/>
    <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
    <meta property="article:published_time" content="{{ article.date.strftime("%Y-%m-%d") }}" />
    <meta property="article:section" content="{{ article.category }}" />
    {% for tag in article.tags %}
        <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% if article.author %}
        <meta property="article:author" content="{{ article.author }}" />
    {% elif AUTHOR %}
        <meta property="article:author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.og_image %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ article.og_image }}"/>
        <meta property="twitter:card" content="summary_large_image">
    {% elif OPEN_GRAPH_IMAGE %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        <meta property="twitter:card" content="summary_large_image">
    {% else %}
        <meta property="twitter:card" content="summary" />
    {% endif %}
{% elif page %}
    <meta property="twitter:card" content="summary" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title|striptags|escape }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{page.url}}"/>
    <meta property="og:description" content="{{ page.summary|striptags|escape }}"/>
    {% if page.author %}
        <meta property="article:author" content="{{ page.author }}" />
    {% elif AUTHOR %}
        <meta property="article:author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if page.og_image %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ page.og_image }}"/>
        <meta property="twitter:card" content="summary_large_image">
    {% elif OPEN_GRAPH_IMAGE %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        <meta property="twitter:card" content="summary_large_image">
    {% else %}
        <meta property="twitter:card" content="summary" />
    {% endif %}
{% else %}
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:url" content="{{ SITEURL }}"/>
    <meta property="og:description" content="{{ SITENAME }}"/>
    {% if OPEN_GRAPH_IMAGE %}
        <meta property="og:image"
        content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        <meta property="twitter:card" content="summary_large_image">
    {% else %}
        <meta property="twitter:card" content="summary" />
    {% endif %}
{% endif %}
