{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}">
{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
    {% if articles %}
        {% for article in (all_articles if all_articles else articles)[:RECENT_POST_COUNT] %}
            <article>
                <h2>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    {% include "include/article_info.html" %}
                </h2>
                <div class="summary">
                    {{ article.summary }}
                </div>
            </article>
            {% if not loop.last %}
            <hr/>
            {% endif %}
        {% endfor %}
        <div class="btn-more text-right">
            <a class="btn btn-default btn-xs twitchy-background" href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
                View all Articles ...
            </a>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function FadeInOnScroll(ObjectList){
        ObjectList.each(function(i) {
            var bottom_of_object = $(this).position().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            if( bottom_of_window > bottom_of_object ){
                $(this).fadeTo(750,1);
            }
        });
    }
    articles = $("article").fadeTo(0, 0.05);
    FadeInOnScroll(articles)
    $(window).scroll(function() {
        FadeInOnScroll(articles)
    });
</script>
{% endblock %}


